body {
  background-color: pink;
  font-family: 'Stylish', sans-serif;

}

.jumbotron {
  color: hotpink;
  background-image: url("https://p0.pxfuel.com/preview/902/505/225/scissors-buy-scissors-buy-hairdressing-scissors.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.55;
}

#navBackground {
  background: tomato;
}