body {
  background-color: #DDD6D8;
  font-family: 'Stylish', sans-serif; }

.jumbotron {
  color: #90777f;
  background-image: url("https://p0.pxfuel.com/preview/902/505/225/scissors-buy-scissors-buy-hairdressing-scissors.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.55; }

a {
  color: #4974a5; }

.display-4 {
  padding-top: 100px;
  text-align: center; }

.appointment {
  justify-content: center;
  display: flex; }

.tagLine {
  text-align: center;
  color: #DDD6D8; }

h1 {
  color: #FEFEFF; }

.navbar {
  background-color: #90777f; }

.maxImage {
  max-width: 130px; }

.maxCard {
  max-width: 330px; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.site-footer {
  background-image: linear-gradient(#90777f, #DDD6D8);
  padding: 20px 0;
  margin-top: -32px; }
